@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #24123f;

    --card: #ffffff;
    --card-foreground: #24123f;

    --popover: #ffffff;
    --popover-foreground: #24123f;

    --primary: #36409f;
    --primary-foreground: #fcfafa;

    --secondary: #f6f6f6;
    --secondary-foreground: #36409f;

    --muted: #f6f6f6;
    --muted-foreground: #8c5fa0;

    --accent: #f6f6f6;
    --accent-foreground: #36409f;

    --destructive: #93483a;
    --destructive-foreground: #fcfafa;

    --border: #ebebeb;
    --input: #ebebeb;
    --ring: #b4a5db;

    --chart-1: #a4693a;
    --chart-2: #5f1b8f;
    --chart-3: #6436b2;
    --chart-4: #d2b541;
    --chart-5: #c4473e;

    --radius: 0.5rem;
  }

  .dark {
    --background: #121212;
    --foreground: #e4e4e7;

    --card: #1e1e1e;
    --card-foreground: #e4e4e7;

    --popover: #1e1e1e;
    --popover-foreground: #e4e4e7;

    --primary: #fcfafa;
    --primary-foreground: #1e1e1e;

    --secondary: #2a2a2a;
    --secondary-foreground: #fcfafa;

    --muted: #2a2a2a;
    --muted-foreground: #9ca3af;

    --accent: #2a2a2a;
    --accent-foreground: #fcfafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fcfafa;

    --border: #2a2a2a;
    --input: #2a2a2a;
    --ring: #4c1d95;
  }
}
